
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="dark">
    <title>{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}</title>
    <meta
        name="description"
        content="{{ if .Params.excerpt }}{{ .Params.excerpt }}{{ else if .Site.Params.Description }}{{ .Site.Params.Description }}{{ else }}{{ end }}"
    />
    <!-- uncomment this to add favicon -->
    <!-- <link rel="icon" type="image/png" href="{{ "/icons/favicon.png" | relURL }}" /> -->
    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ range .Site.Params.custom_css -}}
        <link rel="stylesheet" href="{{ . | absURL }}">
    {{- end }}
</head>